$colorSideBar: #ffffff;
$textcolor: #000;
$hovercolor: #d9fdff;

//------Side bar-----//
.sidebar {
  width: 40vh;
  height: 100vh;

  background: $colorSideBar;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &__logo {
      width: 10 0px;
      height: 100px;
      border: 1px black solid;
      border-radius: 50%;
    }

    &__name {
      font-family: "Fira Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      margin-left: 15px;

      color: #7c7c7c;
    }
  }

  &__tab {
    margin-top: 30px;

    &__detail {
      display: flex;
      align-items: center;
      width: 275px;
      height: 50px;
      margin-bottom: 40px;
      margin-left: 40px;
      font-size: 20px;
      padding-left: 25px;
      cursor: pointer;
      text-decoration: none;
      color: $textcolor;

      &:hover {
        border-radius: 97px;
        background-color: $hovercolor;
        transition: all 0.3;
      }
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
}
.active {
  width: 275px;
  height: 50px;
  border-radius: 97px;
  background-color: $hovercolor;
}

//-----Showinf-----//
.showinf {
  width: 79.1vw;
  height: 200px;
  &__inf {
    margin-left: 32px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    &__name {
      color: $textcolor;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 2.3vh;
    }

    &__date {
      font-weight: 275;
      font-size: 20px;
      line-height: 24px;
    }
    &__icon {
      width: 50px;
      height: 50px;
      margin-right: 60px;
      margin-top: 10px;
    }
  }

  &__screen-name {
    margin-top: 4.5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
  }
}

//-----Searchbar-----//
.searchbar {
  &__name {
    font-size: 20px;
    line-height: 24px;
  }
  &__search {
    display: flex;
    align-items: center;

    padding: 15px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 23px;
    width: 245px;
    height: 50px;
    box-sizing: border-box;
    font-size: 14px;
  }
}
